<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610006652992-bisbtb4tm6tj0o85pv9uomqsd834m55e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610006652992-bisbtb4tm6tj0o85pv9uomqsd834m55e</string>
	<key>API_KEY</key>
	<string>AIzaSyCx5GUHvTpXf-IoQwkk7noKBERsr0V1T4s</string>
	<key>GCM_SENDER_ID</key>
	<string>610006652992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtubeEcommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-2ca56</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-2ca56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610006652992:ios:0007446549f41e41e9e7a5</string>
</dict>
</plist>